# {{ ansible_managed }}
# ansibleguy.linux_users

{% set cmd_alias = 'USER_PRIV_' + name|upper|regex_replace('[^A-Z]','') %}

Cmnd_Alias {{ cmd_alias }} = \
{% for cmd in user.privileges %}
  {{ cmd }}{% if not loop.last %}, \{% endif %}

{% endfor %}

{{ name }} ALL=(ALL) {% if not user.sudoers_prompt %}NOPASSWD: {% endif %}{{ cmd_alias }}

{% if user.privileges_custom is defined and user.privileges_custom|length > 0 %}
{%   for custom_privilege in user.privileges_custom %}
{{ name }} {{ custom_privilege }}
{%   endfor %}
{% endif %}

